@import './utils/variables.scss';
@import'./components/input.scss';
@import'./components/button.scss';
@import './layout/header.scss';
@import './pages/authform.scss';

.App{
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary;
}

body{
    margin: 0;
    padding: 0;
}