.auth-form {
    border: solid 2px black;
    border-radius: 20px;
    box-shadow: 8px 8px 10px darkslategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-secondary;
    background-color: $color-ternary;
    margin-left: 27%;
    &--size {
        width: $width-form;
        height: $height-form;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;

    }

    &__input {
        display: flex;
        flex-direction: column;
        margin-top: 50px;

    }

    &__label {
        font-size: $font-size;
        margin-bottom: 10px;
    }

    &__button{
        margin-top: 20px;
    }

}