.modal{
    width: 600px;
    height: 400px;
    background-color: black;
    border-radius: $radius;
    position: fixed;
    text-align: center;
    &__head{
        background-color: red;
        height: 60px;
        border-top-right-radius: $radius;
        border-top-left-radius: $radius;
        position: relative;
        bottom: 19px;
    }
    &__body{
        text-align: center;
        position: relative;
        top: 100px;
    }
    &__button{
        position: relative;
        top: 100px;
    }
}