//Couleurs
$color-ternary: #1A1D26;
$color-secondary: #FFBD4F;
$color-primary: #667882;

//Tailles d'éléments
    //formulaire
$width-form: 600px;
$height-form: 60%;

    //input
$width-input: 250px;
$height-input: 30px;

    //taille de police
$font-size: 20px